.facts{
  color: #CD5C5C;
  
}
.me
{
  color: #9400D3;
}
#head
{
  color: #483D8B;
  font-style: underline;
}
body{
  background-color: #FFB6C1;
}

.sofi {
  color: #8FBC8F;
  
}
.cami 
{
  color: #9932CC;
}
.vic
{ 
color: #20B2AA;
}

.me{
  color: white;
  
}
